<ion-content [fullscreen]="true">
  <div class="flex-center">
    <ion-card color="light">
      <div class="ion-text ion-padding">
        <a href="http://localhost:8100/sign-in">
          <ion-icon name="arrow-back-circle-outline" size="large"></ion-icon>
        </a>
      </div>
      <div  class="ion-text-center ion-padding">
        <img src="../../../assets/icon/iconlogin.png" alt="" width="50%">
      </div>
      <ion-card-content>
          <ion-card-header>
            <ion-card-title color="primary"> Registrate! </ion-card-title>
          </ion-card-header>

          <form [formGroup]="regForm" novalidate>
              <ion-row>
                <ion-col>
                  <ion-input formControlName="email" label="Email" labelPlacement="floating" placeholder="Ingrese mail" fill="outline"  type="email"></ion-input>
                </ion-col>
              </ion-row>

              <div *ngIf="this.regForm.controls?.['email'].touched && this.regForm.controls?.['email'].invalid">
                <ion-text *ngIf="errorControl.email.errors?.required">
                  Email requerido
                </ion-text>
               <ion-text *ngIf="errorControl.email.errors?.pattern">
                  El email debe ser valido
                </ion-text> 
              </div>
    
              <ion-row>
                <ion-col>
                  <ion-input formControlName="password" label="Contraseña" labelPlacement="floating" placeholder="Ingrese contraseña" fill="outline"  type="password" value=""></ion-input>
                </ion-col>
              </ion-row>
              <div *ngIf="this.regForm.controls?.['password'].touched && this.regForm.controls?.['password'].invalid">
               <ion-text *ngIf="errorControl.password.errors?.required">
                  Contraseña requerida
               </ion-text>
               <ion-text *ngIf="errorControl.password.errors?.pattern">
                  La contraseña debe tener
                  8 caracteres.
                  Una mayuscula.
                  Un número.
                  Un simbolo.
                </ion-text> 
              </div>

              <ion-button (click)="registerUser()" [disabled]="!regForm.valid" expand="block" color="primary"> Registrarse </ion-button>
              <div class="ion-text-center">
                <button type="button" expand="block" class="google-sign-up-button" (click)="loginGoogle()">Registrate con Google</button>
                <ion-button color="dark" [routerLink]="['/sign-in']" fill="clear" size="full">¿Ya tienes una cuenta?</ion-button>

              </div>
          </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>