<ion-content [fullscreen]="true">
  <div class="flex-center">
    <ion-card color="light">
      <div class="ion-text ion-padding">
        <a href="http://localhost:8100/sign-in">
          <ion-icon name="arrow-back-circle-outline" size="large"></ion-icon>
        </a>
      </div>
      <div  class="ion-text-center ion-padding">
        <img src="../../../assets/icon/iconlogin.png" alt="" width="50%">
      </div>
      <ion-card-content>
          <ion-card-header>
            <ion-card-title color="primary"> Registrate! </ion-card-title>
          </ion-card-header>

<!--           <ion-row>
            <ion-col>
              <ion-input label="Nombre" fill="outline" [(ngModel)]="account.Nombre" type="nombre">
              </ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-input label="Username" fill="outline" [(ngModel)]="account.Username" type="username">
              </ion-input>
            </ion-col>
          </ion-row> -->
          
              <ion-row>
                <ion-col>
                  <ion-input [(ngModel)]="gEmail" label="Email" labelPlacement="floating" placeholder="Ingrese mail" fill="outline"  type="email"></ion-input>
                </ion-col>
              </ion-row>
              
              <ion-row>
                <ion-col>
                  <ion-input [(ngModel)]="gPassword" label="Contraseña" labelPlacement="floating" placeholder="Ingrese contraseña" fill="outline"  type="password" value=""></ion-input>
                </ion-col>
              </ion-row>
              <ion-button (click)="registerUser()" expand="block" color="primary"> Registrarse </ion-button>
              <div class="ion-text-center">
                <button type="button" expand="block" class="google-sign-up-button" (click)="loginGoogle()">Registrate con Google</button>
                <ion-button color="dark" [routerLink]="['/sign-in']" fill="clear" size="full">¿Ya tienes una cuenta?</ion-button>

              </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>