<ion-content [fullscreen]="true">
  <div class="flex-center">
    <ion-card color="light">
      <div class="ion-text-center ion-padding">
       <img src="../../../assets/icon/iconlogin.png" alt="" width="50%">
      </div>

      <ion-card-header>
        <ion-card-title color="primary">Bienvenidos a AverSiLlueve App </ion-card-title>
      </ion-card-header>
    
        <ion-card-content >
          <ion-row>
            <ion-col>
              <ion-input label="Email" labelPlacement="floating" placeholder="Ingrese su Correo" fill="outline" [(ngModel)]="gEmail" type="email"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input label="Contraseña" labelPlacement="floating" placeholder="Ingrese su Contraseña" fill="outline" [(ngModel)]="gPassword" type="password" value=""></ion-input>
            </ion-col>
          </ion-row>  
          <ion-button color="dark" [routerLink]="['/reset-password']" fill="clear" size="full">¿Olvidaste tu contraseña?</ion-button>
          <ion-button (click)="login()" color="primary" size="full"> Ingresar </ion-button>
          <button type="button" class="google-sign-in-button" (click)="loginGoogle()">Ingresar con Google</button>
          <ion-button color="dark" [routerLink]="['/sign-up']" fill="clear" size="full">¿No tienes una cuenta? Registrate Aqui</ion-button> 
        </ion-card-content>
      
    </ion-card>
  </div>
</ion-content>