<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ingresa tu email
      <p class="subTitle"> Para reestablecer contraseña</p>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button>Volver</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-row>
    <ion-col>
      <ion-input label ="Email" fill="outline" [(ngModel)]="email" type="email">
      </ion-input>
    </ion-col>

    <ion-card-content>
      <ion-button (click)="resetPassword()" shape="round" color="primary"> Reestablece Contraseña </ion-button>
    </ion-card-content>
  </ion-row>
</ion-content>
