ion-content {
    --background: url("https://cdn.hswstatic.com/gif/why-is-sky-blue.jpg");
    --background-size: cover;
  }
  
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  ion-card {
    width: 90%;
    max-width: 400px;
    
  }
  
  ion-button[color="primary"] {
    text-transform: initial;
  }
  