<ion-content [fullscreen]="true">
  <div class="flex-center">
    <ion-card color="light">

      <div class="ion-text ion-padding">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/intro"></ion-back-button>
        </ion-buttons>
      </div>

      <div  class="ion-text-center ion-padding">
        <img src="../../../assets/icon/iconlogin.png" alt="" width="50%">
      </div>

      <ion-card-header >
        <ion-card-title color="primary">Restablecer contraseña</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="loginForm" novalidate>
        <ion-row>
          <ion-col>
            <ion-input formControlName="email" label="Email" labelPlacement="floating" placeholder="Ingrese mail" fill="outline" type="email"></ion-input>         
          </ion-col>
        </ion-row>

        <div *ngIf="errorControl['email'].touched && errorControl['email'].invalid">
            <ion-text color="danger" *ngIf="errorControl['email'].errors?.['required']">
              Email requerido.
            </ion-text>
            <ion-text color="danger" *ngIf="errorControl['email'].errors?.['email'] || errorControl['email'].errors?.['pattern']">
              El email debe ser válido.
            </ion-text>
        </div> 


         <!-- aca hacemos que el boton de restablecer contraseña quede centrado y con una separacion -->
        <div class="ion-text-center ion-padding-top">
          <ion-button (click)="resetPassword()" expand="block" color="primary">Restablecer contraseña</ion-button>
        </div>
        </form>
      </ion-card-content>

    </ion-card>
  </div>
</ion-content>

