<ion-content [fullscreen]="true">
  <div class="flex-center">
    <ion-card color="light">

      <div class="ion-text ion-padding">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/intro"></ion-back-button>
        </ion-buttons>
      </div>

      <div  class="ion-text-center ion-padding">
        <img src="../../../assets/icon/iconlogin.png" alt="" width="50%">
      </div>

      <ion-card-header >
        <ion-card-title color="primary">Restablecer contraseña</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-row>
          <ion-col>
            <ion-input [(ngModel)]="email" label="Email" labelPlacement="floating" placeholder="Ingrese correo para restablecer" fill="outline" type="email"></ion-input>         
          </ion-col>
        </ion-row>
         <!-- aca hacemos que el boton de restablecer contraseña quede centrado y con una separacion -->
        <div class="ion-text-center ion-padding-top">
          <ion-button (click)="resetPassword()" expand="block" color="primary">Restablecer contraseña</ion-button>
        </div>
      </ion-card-content>

    </ion-card>
  </div>
</ion-content>

