ion-content {
    --background: url("https://cdn.hswstatic.com/gif/why-is-sky-blue.jpg");
    --background-size: cover;
  }
  
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  ion-card {
    width: 90%;
    max-width: 400px;
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 10px 28px rgba(0, 0, 0, 1); /* Sombra */
    transition: box-shadow 0.3s ease, border-radius 0.3s ease;

  }
  
  ion-button[color="primary"] {
    text-transform: initial;
  }
  