ion-card {
    width: 90%;
    max-width: 400px;
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 10px 28px rgba(0, 0, 0, 1); /* Sombra */
    transition: box-shadow 0.3s ease, border-radius 0.3s ease;
  }

  .custom-input {
    --border-width: 2px;       /* Ancho del borde */
    --border-color: #007bff;   /* Color del borde */
    --border-radius: 10px;     /* Bordes redondeados */
  }