<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-input label="Ciudad" fill="outline" [(ngModel)]="city" type="text" value=""></ion-input>
    <ion-button (click)="ObtenerClima()">Buscar</ion-button>

    <ion-list>
      <ion-item class="col-md-6">
        <span *ngIf="proveedor" class="card card-body">
          <ion-label>Cuidad: {{proveedor.name}}</ion-label>
          <ion-label>Temperatura: {{(proveedor.main.temp-273.15).toFixed(0)}}</ion-label>
          <ion-label>Temperatura max: {{(proveedor.main.temp_max-273.15).toFixed(0)}}</ion-label>
          <ion-label>Temperatura min: {{(proveedor.main.temp_min-273.15).toFixed(0)}}</ion-label>
          <ion-label>Latitud: {{proveedor.coord.lat}}</ion-label>
          <ion-label>Longitud: {{proveedor.coord.lon}}</ion-label>
          <ion-label>Humedad: {{proveedor.main.humidity}}</ion-label>
          <ion-label>Presion: {{proveedor.main.pressure}}</ion-label>
          <ion-label>Tipo de clima: {{proveedor.weather[0].description}}</ion-label>
        </span>
      </ion-item>
    </ion-list>

  </ion-content>





  <!-- METODO 1-->
  <!--   <div class="row">
    <div class="col-md-6">
      <div card class="card-body">
        <ion-item>
         
        </ion-item>
      


        <ion-label class="ion-text-center" color="primary">
          <h2 class="ion-text-center">CIUDAD #:1</h2>
        </ion-label>

        <form (submit)="submitLocation1(lat,lon)">
          <div class="form-group">
            <input type="text" class="form-group" placeholder="Latitud" #lat>
          </div>
          <div class="form-group">
            <input type="text" class="form-group" placeholder="Longitud" #lon>
          </div>
          <button class="btn btn-primary btn-block mt-2">Obtener Clima</button>
        </form>



      </div>
    </div>

    <div class="col-md-6">
      <div *ngIf="proveedor" class="card card-body">
        <p>Cuidad: {{proveedor.name}}</p>
        <p>Temperatura: {{proveedor.main.temp}}</p>
        <p>Temperatura max: {{proveedor.main.temp_max}}</p>
        <p>Temperatura min: {{proveedor.main.temp_min}}</p>
        <p>Latitud: {{proveedor.coord.lat}}</p>
        <p>Longitud: {{proveedor.coord.lon}}</p>
        <p>Humedad: {{proveedor.main.humidity}}</p>
        <p>Presion: {{proveedor.main.pressure}}</p>
        <p>Tipo de clima: {{proveedor.proveedor[0].description}}</p>
      </div>
    </div>
  </div> -->


  <!-- METODO 2-->
  <!--   <div class="row">
    <div class="col-md-6">
      <div card class="card-body">
        <ion-item>
        
        </ion-item>
      
        <br>

        <ion-label class="ion-text-center" color="primary">
          <h2 class="ion-text-center">CIUDAD #:2</h2>
        </ion-label>

        <form (submit)="submitLocation2(cityName,stateCode,countryCode)">
          <div class="form-group">
            <input type="text" class="form-group" placeholder="Nombre de la Cuidad" #cityName>
          </div>
          <div class="form-group">
            <input type="text" class="form-group" placeholder="Codigo de Pais" #stateCode>
          </div>
          <div class="form-group">
            <input type="text" class="form-group" placeholder="Codigo de Pais" #countryCode>
          </div>          
          <button class="btn btn-primary btn-block mt-2">Obtener Clima</button>
        </form>

      </div>
    </div>

    <div class="col-md-6">
      <div *ngIf="proveedor2" class="card card-body">
        <p>Cuidad: {{proveedor2.name}}</p>
        <p>Temperatura: {{proveedor2.main.temp}}</p>
        <p>Temperatura max: {{proveedor2.main.temp_max}}</p>
        <p>Temperatura min: {{proveedor2.main.temp_min}}</p>
        <p>Latitud: {{proveedor2.coord.lat}}</p>
        <p>Longitud: {{proveedor2.coord.lon}}</p>
        <p>Humedad: {{proveedor2.main.humidity}}</p>
        <p>Presion: {{proveedor2.main.pressure}}</p>
        <p>Tipo de clima: {{proveedor2.proveedor2[0].description}}</p>
      </div>
    </div>
  </div> -->


  <!-- METODO 3-->
  <!-- <div class="row">
    <div class="col-md-6">
      <div card class="card-body">
        <ion-item>
    
        </ion-item>
      
        <br>

        <ion-label class="ion-text-center" color="primary">
          <h2 class="ion-text-center">CIUDAD #:1</h2>
        </ion-label>

        <form (submit)="submitLocation3(lat,lon)">
          <div class="form-group">
            <input type="text" class="form-group" placeholder="Latitud" #lat>
          </div>
          <div class="form-group">
            <input type="text" class="form-group" placeholder="Longitud" #lon>
          </div>
          <button class="btn btn-primary btn-block mt-2">Obtener Clima</button>
        </form>

      </div>
    </div>

    <div class="col-md-6">
      <div *ngIf="proveedor3" class="card card-body">
        <p>Cuidad: {{proveedor3.name}}</p>
        <p>Temperatura: {{proveedor3.main.temp}}</p>
        <p>Temperatura max: {{proveedor3.main.temp_max}}</p>
        <p>Temperatura min: {{proveedor3.main.temp_min}}</p>
        <p>Latitud: {{proveedor3.coord.lat}}</p>
        <p>Longitud: {{proveedor3.coord.lon}}</p>
        <p>Humedad: {{proveedor3.main.humidity}}</p>
        <p>Presion: {{proveedor3.main.pressure}}</p>
        <p>Tipo de clima: {{proveedor3.proveedor3[0].description}}</p>
      </div>
    </div>
  </div>
 -->

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>