<ion-content [fullscreen]="true">
  <ion-card-header>
    <ion-col>
      <ion-title size="">A ver si llueve</ion-title>
    </ion-col>
  </ion-card-header>

  <ion-item class="barra-busq">
    <ion-icon name="search-outline" slot="start"></ion-icon>

    <ion-input class="custom-busq" placeholder="Buscar ciudad" type="text" [(ngModel)]="city">
    </ion-input>

    <ion-button fill="clear" (click)="ObtenerClima()" class="letra-color"> Buscar </ion-button>
  </ion-item>

  <ion-card class="weather-card" *ngIf="proveedor" (click)="toggleExpand()">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="9">
            <h1>{{ proveedor.name }}</h1>
            <p>{{ proveedor.weather[0].description }}</p>
          </ion-col>
          <ion-col size="3" class="temp-col">
            <div class="temp-container">
              <img src="https://openweathermap.org/img/wn/{{ imageURL }}@2x.png" alt="weather-image"
                style="width: 60px; height: 60px;" />
              <div class="forecast-temp">
                <p>{{ proveedor.main.temp | number:'1.1-1' }}°</p>
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>
              Máxima: {{ proveedor.main.temp_max | number:'1.0-0' }}° Mínima:
              {{ proveedor.main.temp_min | number:'1.0-0' }}°
            </p>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="isExpanded && proveedor3">
          <div class="forecast-container" *ngIf="proveedor3">
            <h2 class="colorpron">Pronóstico</h2>

            <div class="forecast-item" *ngFor="let item of proveedor3.list">
              <p>{{ item.dt_txt | date: 'shortTime' }}</p>

              <img [src]="'https://openweathermap.org/img/wn/' + item.weather[0].icon + '@2x.png'" alt="forecast-icon">

              <div class="forecast-temp">
                <p>{{ item.main.temp | number:'1.0-0' }}°</p>
              </div>
            </div>
          </div>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card-content *ngIf="proveedor && userProfile && userProfile.userId !== 'guest'">
  <ion-toggle 
    [checked]="isFavoriteCity(proveedor.name)" 
    (ionChange)="toggleFavorite()">
    <ion-icon [name]="isFavoriteCity(proveedor.name) ? 'heart' : 'heart-outline'"></ion-icon>
    {{ isFavoriteCity(proveedor.name) ? 'Quitar de Favoritos' : 'Añadir a Favoritos' }}
  </ion-toggle>
</ion-card-content>


  <ion-card class="weather-card" *ngIf="proveedor4 !== null">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="9">
            <h1>{{ proveedor4.name }}</h1>
            <p>{{ proveedor4.weather[0].description }}</p>
          </ion-col>
          <ion-col size="3" class="temp-col">
            <div class="temp-container">
              <img src="https://openweathermap.org/img/wn/{{ imageURL }}@2x.png" alt="weather-image"
                style="width: 60px; height: 60px;" />
              <h1>{{ proveedor4.main.temp | number:'1.0-0' }}°</h1>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>
              Máxima: {{ proveedor4.main.temp_max | number:'1.0-0' }}° Mínima:
              {{ proveedor4.main.temp_min | number:'1.0-0' }}°
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-content>
    <div *ngIf="proveedor4 === null">
      <h2>Cargando temperatura...</h2>
    </div>
  </ion-content>

  </ion-content>